In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("Q1.csv")

In [53]:
df.head()

   Height_in  Weight_lb  Age_yr  Grip_kg Frailty
0       65.8        112      30       28       N
1       71.5        136      19       31       N
2       69.4        153      45       29       N
3       68.2        142      22       28       Y
4       67.8        144      29       24       Y

In [54]:
df

   Height_in  Weight_lb  Age_yr  Grip_kg Frailty
0       65.8        112      30       28       N
1       71.5        136      19       31       N
2       69.4        153      45       29       N
3       68.2        142      22       28       Y
4       67.8        144      29       24       Y
5       68.7        123      50       26       N
6       69.8        141      51       22       Y
7       70.1        136      23       20       Y
8       67.9        112      17       19       N
9       66.8        120      39       31       N

In [55]:
df["Height_m"] = df["Height_in"] * 0.0254
df["Weight_kg"] = df["Weight_lb"] * 0.45359237

In [56]:
# BMI = weight (kg) / height^2 (m^2), rounded to 2 decimals
df["BMI"] = (df["Weight_kg"] / (df["Height_m"] ** 2)).round(2)

# Age group categorization
def age_group(age):
    if age < 30:
        return "<30"
    elif 30 <= age <= 45:
        return "30-45"
    elif 46 <= age <= 60:
        return "46-60"
    else:
        return ">60"

df["AgeGroup"] = df["Age_yr"].apply(age_group)

In [57]:
# Binary encoding
df["Frailty_binary"] = df["Frailty"].map({"Y": 1, "N": 0}).astype("int8")

# One-hot encoding AgeGroup
df = pd.get_dummies(df, columns=["AgeGroup"], prefix="AgeGroup")
print(df, "\n")

   Height_in  Weight_lb  Age_yr  Grip_kg Frailty  Height_m  Weight_kg    BMI  \
0       65.8        112      30       28       N   1.67132  50.802345  18.19
1       71.5        136      19       31       N   1.81610  61.688562  18.70
2       69.4        153      45       29       N   1.76276  69.399633  22.33
3       68.2        142      22       28       Y   1.73228  64.410117  21.46
4       67.8        144      29       24       Y   1.72212  65.317301  22.02
5       68.7        123      50       26       N   1.74498  55.791862  18.32
6       69.8        141      51       22       Y   1.77292  63.956524  20.35
7       70.1        136      23       20       Y   1.78054  61.688562  19.46
8       67.9        112      17       19       N   1.72466  50.802345  17.08
9       66.8        120      39       31       N   1.69672  54.431084  18.91

   Frailty_binary  AgeGroup_30-45  AgeGroup_46-60  AgeGroup_<30
0               0            True           False         False
1               0           False           False          True
2               0            True           False         False
3               1           False           False          True
4               1           False           False          True
5               0           False            True         False
6               1           False            True         False
7               1           False           False          True
8               0           False           False          True
9               0            True           False         False

In [58]:
summary = df.describe().T[["mean", "50%", "std"]].rename(columns={"50%": "median"})
print("Step 3a: Summary Statistics")
print(summary, "\n")

Step 3a: Summary Statistics
                      mean      median        std
Height_in        68.600000   68.450000   1.670662
Weight_lb       131.900000  136.000000  14.231811
Age_yr           32.500000   29.500000  12.860361
Grip_kg          25.800000   27.000000   4.366539
Height_m          1.742440    1.738630   0.042435
Weight_kg        59.828834   61.688562   6.455441
BMI              19.682000   19.185000   1.780972
Frailty_binary    0.400000    0.000000   0.516398

In [59]:
correlation = df["Grip_kg"].corr(df["Frailty_binary"])
print("Correlation between Grip_kg and Frailty_binary:", correlation, "\n")

Correlation between Grip_kg and Frailty_binary: -0.45333950359163006

In [60]:
with open("reports/findings.md", "w") as f:
    f.write("# Findings for Question 1\n\n")
    f.write("## Summary Statistics\n")
    f.write(summary.to_markdown())
    f.write("\n\n## Correlation Analysis\n")
    f.write(f"Correlation between Grip_kg and Frailty_binary: {correlation}")